version: "3"
services:
  es:
    container_name: es
    image: {{ elasticsearch_image }}
    network_mode: host
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ elk_data_dir }}/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - {{ elk_data_dir }}/elasticsearch/logs:/usr/share/elasticsearch/logs
      - {{ elk_data_dir }}/elasticsearch/data:/usr/share/elasticsearch/data
      - {{ elk_data_dir }}/elasticsearch/config/elastic-certificates.p12:/usr/share/elasticsearch/config/elastic-certificates.p12
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms2G -Xmx2G"
    ulimits:
      memlock:
        soft: -1
        hard: -1
